.chartBodyMain{
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(174, 199, 199,0.2);

}


.domainBlock{
    padding:10px;
    padding-left:40px;
    width:20%;
    float:left;
    align-items: center;
    justify-content: center;
}

.chartMain{
    padding:70px;
    width:80%;
    height:100%;
    float:right;
    
}

.card-body{
    background-color: rgba(174, 199, 199,0.2);
}

.cardFirst{
    width:200px;
    margin:30px;
    border-radius:16px;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.card-deck{
    display:flex;
    align-items: center;
    justify-content: center;  
    padding-left: 40px;
    position:fixed;
    width:100%;
    height:100%;
}

.options-body{
    
}